{% extends "base.html" %}

{% block title %}Map - WHACK2025{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
{% endblock %}

{% block content %}
<div class="map-container">
    <div class="map-decorations">
        <div class="cloud cloud1"></div>
        <div class="cloud cloud2"></div>
        <div class="cloud cloud3"></div>
    </div>
    
    <a href="{{ url_for('learn_zone') }}" class="zone learn-zone">
        <div class="zone-icon"></div>
        <div class="zone-title">Learning Zone</div>
        <div class="zone-description">
            Master financial concepts through interactive lessons and quizzes
        </div>
    </a>
    
    <a href="{{ url_for('game_zone') }}" class="zone game-zone">
        <div class="zone-icon"></div>
        <div class="zone-title">Game Zone</div>
        <div class="zone-description">
            Play fun mini-games while learning about money management
        </div>
    </a>
    
    <a href="{{ url_for('bank_zone') }}" class="zone api-zone">
        <div class="zone-icon"></div>
        <div class="zone-title">Bank</div>
        <div class="zone-description">
            Advisor chat plus investing and credit tools tailored for students
        </div>
    </a>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/map.js') }}"></script>
{% endblock %}